# Import de Bibliotecas

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns
#plt.style.use('ggplot')
#pd.set_option('max_columns', 200)

# Leitura e Data Understanding de DataSet

In [10]:
ds = pd.read_csv("C:/Users/Eduardo/Desktop/AbandonLess/EDA/DataSet_formatado.csv", sep = ";")

print("Linhas:", ds.shape[0], " Colunas", ds.shape[1]) 

ds.dtypes

Linhas: 4424  Colunas 36

Unnamed: 0                                          int64
Marital status                                     object
Application mode                                   object
Application order                                   int64
Course                                             object
Daytime/evening attendance                         object
Previous qualification                             object
Nacionality                                        object
Mother's qualification                             object
Father's qualification                             object
Mother's occupation                                object
Father's occupation                                object
Displaced                                          object
Educational special needs                          object
Debtor                                             object
Tuition fees up to date                             int64
Gender                                             object
Scholarship holder                                  int64
Age at enrollment                                   int64
International                                       int64
Curricular units 1st sem (credited)                 int64
Curricular units 1st sem (enrolled)                 int64
Curricular units 1st sem (evaluations)              int64
Curricular units 1st sem (approved)                 int64
Curricular units 1st sem (grade)                  float64
Curricular units 1st sem (without evaluations)      int64
Curricular units 2nd sem (credited)                 int64
Curricular units 2nd sem (enrolled)                 int64
Curricular units 2nd sem (evaluations)              int64
Curricular units 2nd sem (approved)                 int64
Curricular units 2nd sem (grade)                  float64
Curricular units 2nd sem (without evaluations)      int64
Unemployment rate                                 float64
Inflation rate                                    float64
GDP                                               float64
Target                                             object
dtype: object

In [27]:
ds["Application mode"].unique()
ds["Application mode"].value_counts()

Application mode
1st phase—general contingent                           1708
2nd phase—general contingent                            872
Over 23 years old                                       785
Change in course                                        312
 Technological specialization diploma holders           213
Holders of other higher courses                         139
3rd phase—general contingent                            124
Transfer                                                 77
Change in institution/course                             59
1st phase—special contingent (Madeira Island)            38
Short cycle diploma holders                              35
International student (bachelor)                         30
1st phase—special contingent (Azores Island)             16
Ordinance No. 854-B/99                                   10
Ordinance No. 612/93                                      3
Change in institution/course (International)              1
Ordinance No. 533-A/99, item b2) (Different Plan)         1
Ordinance No. 533-A/99, item b3 (Other Institution)       1
Name: count, dtype: int64

# Substituição de Valores no CSV

In [ ]:
courses_dict = {
    1: "Biofuel Production Technologies",
    2: "Animation and Multimedia Design",
    3: "Social Service (evening attendance)",
    4: "Agronomy",
    5: "Communication Design",
    6: "Veterinary Nursing",
    7: "Informatics Engineering",
    8: "Equiniculture",
    9: "Management",
    10: "Social Service",
    11: "Tourism",
    12: "Nursing",
    13: "Oral Hygiene",
    14: "Advertising and Marketing Management",
    15: "Journalism and Communication",
    16: "Basic Education",
    17: "Management (evening attendance)"}


ds["Course"] = ds["Course"].map(courses_dict)

In [ ]:
occup_dict = {
    1: "Student",
    2: "Representatives of the Legislative Power and Executive Bodies, Directors, Directors and Executive Managers",
    3: "Specialists in Intellectual and Scientific Activities",
    4: "Intermediate Level Technicians and Professions",
    5: "Administrative staff",
    6: "Personal Services, Security and Safety Workers, and Sellers",
    7: "Farmers and Skilled Workers in Agriculture, Fisheries, and Forestry",
    8: "Skilled Workers in Industry, Construction, and Craftsmen",
    9: "Installation and Machine Operators and Assembly Workers",
    10: "Unskilled Workers",
    11: "Armed Forces Professions",
    12: "Other Situation",
    13: "Armed Forces Officers",
    14: "Armed Forces Sergeants",
    15: "Other Armed Forces Personnel",
    16: "Directors of Administrative and Commercial Services",
    17: "Hotel, Catering, Trade, and Other Services Directors",
    18: "Specialists in the Physical Sciences, Mathematics, Engineering, and Related Techniques",
    19: "Health Professionals",
    20: "Teachers",
    21: "Specialists in Finance, Accounting, Administrative Organization, and Public and Commercial Relations",
    22: "Intermediate Level Science and Engineering Technicians and Professions",
    23: "Technicians and Professionals of Intermediate Level of Health",
    24: "Intermediate Level Technicians from Legal, Social, Sports, Cultural, and Similar Services",
    25: "Information and Communication Technology Technicians",
    26: "Office Workers, Secretaries in General, and Data Processing Operators",
    27: "Data, Accounting, Statistical, Financial Services, and Registry-Related Operators",
    28: "Other Administrative Support Staff",
    29: "Personal Service Workers",
    30: "Sellers",
    31: "Personal Care Workers and the Like",
    32: "Protection and Security Services Personnel",
    33: "Market-Oriented Farmers and Skilled Agricultural and Animal Production Workers",
    34: "Farmers, Livestock Keepers, Fishermen, Hunters and Gatherers, and Subsistence",
    35: "Skilled Construction Workers and the Like, Except Electricians",
    36: "Skilled Workers in Metallurgy, Metalworking, and Similar",
    37: "Skilled Workers in Electricity and Electronics",
    38: "Workers in Food Processing, Woodworking, and Clothing and Other Industries and Crafts",
    39: "Fixed Plant and Machine Operators",
    40: "Assembly Workers",
    41: "Vehicle Drivers and Mobile Equipment Operators",
    42: "Unskilled Workers in Agriculture, Animal Production, and Fisheries and Forestry",
    43: "Unskilled Workers in Extractive Industry, Construction, Manufacturing, and Transport",
    44: "Meal Preparation Assistants",
    45: "Street Vendors (Except Food) and Street Service Providers"
}

ds["Mother's occupation"] = ds["Mother's occupation"].map(occup_dict).fillna(ds["Mother's occupation"])
ds["Father's occupation"] = ds["Father's occupation"].map(occup_dict).fillna(ds["Father's occupation"])

In [7]:
nationality_dict = {
    1: "Portuguese",
    2: "German",
    3: "Spanish",
    4: "Italian",
    5: "Dutch",
    6: "English",
    7: "Lithuanian",
    8: "Angolan",
    9: "Cape Verdean",
    10: "Guinean",
    11: "Mozambican",
    12: "Santomean",
    13: "Turkish",
    14: "Brazilian",
    15: "Romanian",
    16: "Moldova (Republic of)",
    17: "Mexican",
    18: "Ukrainian",
    19: "Russian",
    20: "Cuban",
    21: "Colombian"
}

ds["Nacionality"] = ds["Nacionality"].map(nationality_dict).fillna(ds["Nacionality"])

In [8]:
qual_dict = {
    1: "Secondary education",
    2: "Higher education—bachelor’s degree",
    3: "Higher education—degree",
    4: "Higher education—master’s degree",
    5: "Higher education—doctorate",
    6: "Frequency of higher education",
    7: "12th year of schooling—not completed",
    8: "11th year of schooling—not completed",
    9: "Other—11th year of schooling",
    10: "10th year of schooling",
    11: "10th year of schooling—not completed",
    12: "Basic education 3rd cycle (9th/10th/11th year) or equivalent",
    13: "Basic education 2nd cycle (6th/7th/8th year) or equivalent",
    14: "Technological specialization course",
    15: "Higher education—degree (1st cycle)",
    16: "Professional higher technical course",
    17: "Higher education—master’s degree (2nd cycle)"
}

parent_qual_dict = {
    1: "Secondary Education—12th Year of Schooling or Equivalent",
    2: "Higher Education—bachelor’s degree",
    3: "Higher Education—degree",
    4: "Higher Education—master’s degree",
    5: "Higher Education—doctorate",
    6: "Frequency of Higher Education",
    7: "12th Year of Schooling—not completed",
    8: "11th Year of Schooling—not completed",
    9: "7th Year (Old)",
    10: "Other—11th Year of Schooling",
    11: "2nd Year Complementary High School Course",
    12: "10th Year of Schooling",
    13: "General Commerce Course",
    14: "Basic Education 3rd Cycle (9th/10th/11th Year) or Equivalent",
    15: "Complementary High School Course",
    16: "Technical-Professional Course",
    17: "Complementary High School Course—not concluded",
    18: "7th Year of Schooling",
    19: "2nd Cycle of the General High School Course",
    20: "9th Year of Schooling—not completed",
    21: "8th Year of Schooling",
    22: "General Course of Administration and Commerce",
    23: "Supplementary Accounting and Administration",
    24: "Unknown",
    25: "Cannot Read or Write",
    26: "Can Read Without Having a 4th Year of Schooling",
    27: "Basic Education 1st Cycle (4th/5th Year) or Equivalent",
    28: "Basic Education 2nd Cycle (6th/7th/8th Year) or Equivalent",
    29: "Technological Specialization Course",
    30: "Higher Education—degree (1st cycle)",
    31: "Specialized Higher Studies Course",
    32: "Professional Higher Technical Course",
    33: "Higher Education—master’s degree (2nd cycle)",
    34: "Higher Education—doctorate (3rd cycle)"
}

ds["Previous qualification"] = ds["Previous qualification"].map(qual_dict).fillna(ds["Previous qualification"])
ds["Mother's qualification"] = ds["Mother's qualification"].map(parent_qual_dict).fillna(ds["Mother's qualification"])
ds["Father's qualification"] = ds["Father's qualification"].map(parent_qual_dict).fillna(ds["Father's qualification"])

In [10]:
ds.to_csv("DataSet_formatado.csv")

In [11]:
yes_no_dic = {
    0: "No", 1: "Yes"
}

columns_name = ["Tuition fees up to date", "Scholarship holder", "International"]

for i in columns_name: ds[i] = ds[i].map(yes_no_dic).fillna(ds[i])